[Service]
EnvironmentFile=/etc/environment
Environment=KUBELET_IMAGE=quay.io/coreos/hyperkube:v1.5.3_coreos.0
ExecStartPre=/usr/bin/dig +noall +answer quay.io
ExecStartPre=/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/bin/mkdir -p /srv/kubernetes/manifests
ExecStartPre=/bin/mkdir -p /etc/kubernetes/checkpoint-secrets
ExecStart=/usr/bin/docker run \
  --net=host \
  --pid=host \
  --privileged \
  -v /sys:/sys:ro \
  -v /var/run:/var/run:rw \
  -v /var/lib/docker/:/var/lib/docker:rw \
  -v /var/lib/kubelet/:/var/lib/kubelet:shared \
  -v /etc/kubernetes/pods:/etc/kubernetes/pods:ro \
  ${KUBELET_IMAGE} \
  /kubelet \
  --hostname-override="${COREOS_PRIVATE_IPV4}" \
  --register-node \
  --register-schedulable=false \
  --lock-file=/var/run/lock/kubelet.lock \
  --exit-on-lock-contention \
  --pod-manifest-path=/etc/kubernetes/pods \
  --allow-privileged \
  --node-labels=master=true \
  --minimum-container-ttl-duration=6m0s \
  --cluster_dns=CLUSTER_DNS \
  --cluster_domain=CLUSTER_DOMAIN \
  -v=2
  # --require-kubeconfig \
  # --kubeconfig=/etc/kubernetes/kubeconfig \
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
[Unit]
After=docker.service
